VITE_FIREBASE_API_KEY=AIzaSyD-QROuJVLdkF6g4mxdbB4a8KsF0oyNxMY
VITE_FIREBASE_AUTH_DOMAIN=studio-3178011448-9d904.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=studio-3178011448-9d904
VITE_FIREBASE_STORAGE_BUCKET=studio-3178011448-9d904.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=687039821493
VITE_FIREBASE_APP_ID=1:687039821493:web:62effc866af43ea803b0fc
VITE_FIREBASE_VAPID_KEY=YOUR_VAPID_PUBLIC_KEY_HERE
VITE_FIREBASE_FUNCTIONS_REGION=us-central1
