VITE_FIREBASE_API_KEY=AIzaSyCm1VfiIgEuQgRoK5L9Ad2ejHCdLg9B6yc
VITE_FIREBASE_AUTH_DOMAIN=padelsabardes.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=padelsabardes
VITE_FIREBASE_STORAGE_BUCKET=padelsabardes.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1008669431729
VITE_FIREBASE_APP_ID=1:1008669431729:web:836365c84893c6850c4f90
VITE_FIREBASE_MEASUREMENT_ID=G-TN2J9P47LR
VITE_FIREBASE_VAPID_KEY=BNUr7YkSeVJfhqyXBjRggYOov7T98P_nyk6uxUfmIQK_qaVFqWUAT4Oa0R_LTpN448dq3SQOrNe8MlQdE51LtWo
VITE_FIREBASE_FUNCTIONS_REGION=us-central1
